#output, #reference
{
width: 100px;
height: 100px;
margin: 10px auto;
padding: 10px;
}

#hold
{
width: 723px;
margin: 0 auto;
padding: 10px 0 10px;
}

#redAnswer, #greenAnswer, #blueAnswer, #redHex, #greenHex, #blueHex
{
display: inline-block;
}

#redslide, #greenslide, #blueslide
{
display: inline-block;
height: 15px;
margin: 10px;
width: 350px;
}

#redAnswer, #greenAnswer, #blueAnswer, #hexAnswer, #score
{
	margin-left: 25px;
	margin-right: 25px;
}

#redslide .ui-slider-range
{
background: red;
}
#redslide .ui-slider-handle
{
border-color: red;
}

#greenslide .ui-slider-range
{
background: green;
}
#greenslide .ui-slider-handle
{
border-color: green;
}

#blueslide .ui-slider-range
{
background: blue;
}
#blueslide .ui-slider-handle
{
border-color: blue;
}

#submit, #newGame
{
	width: 100px;
	margin: 10px;
}
