#output, #reference
{
width: 100px;
height: 100px;
margin: 0 auto;
padding: 10px 0 10px;
}

#hold
{
width: 723px;
margin: 0 auto;
padding: 10px 0 10px;
}

#hexAnswer, #hexAnswerOutput
{
text-align: center;
}


#redAnswer, #greenAnswer, #blueAnswer, #redHex, #greenHex, #blueHex
{
display: inline-block;
}

#redslide, #greenslide, #blueslide
{
display: inline-block;
height: 15px;
margin: 10px 0px;
width: 350px;
}

#redHex, #greenHex, #blueHex
{
	margin-left: 25px;
}

#redslide .ui-slider-range
{
background: red;
}
#redslide .ui-slider-handle
{
border-color: red;
}

#greenslide .ui-slider-range
{
background: green;
}
#greenslide .ui-slider-handle
{
border-color: green;
}

#blueslide .ui-slider-range
{
background: blue;
}
#blueslide .ui-slider-handle
{
border-color: blue;
}

#submit
{
	width: 100px;
}